<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-collapse-button/iron-collapse-button.html">

<dom-module id="tarea-1-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerEdificios"
               url="http://demo6292426.mockable.io/c-properties"
               handle-as="json"
               on-response="mostrarMovimientos">
    </iron-ajax>
    <h3>[[prop1]]</h2>
      <div >
          <paper-button on-click="_consulta" raised class="indigo">Consulta Departamentos</paper-button>
      </div>
      <br>
<div hidden$="{{noCargados}}">
  <template is="dom-repeat" items="{{movimientos.Propiedades}}"  filter="{{computeFilter}}">
    <br>
  <paper-card>
    <div class="card-content">
<h1>Departamento en {{item.nombre}}</h1>
<br>
<paper-input always-float-label label="Precio de Venta" disabled value="{{item.precio}}"></paper-input>
<br>
<template is="dom-if" if="{{item.rent}}" restamp="true">
<a>Precio de renta {{item.rent}} </a>
</template>


    </div>
    <div class="card-actions">
      <iron-collapse-button>
  <div slot="collapse-trigger" on-click="abrircolapsar">{{prop2}}</div>
  <br>
  <div slot="collapse-content">
  <p>{{item.descripcion}}</p>
  </div>
</iron-collapse-button>
    </div>
  </paper-card>
 <br>
      </template>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Tarea1App extends Polymer.Element {
      static get is() { return 'tarea-1-app'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          prop1: {
            type: String,
            value: 'Global Home '
          },
          prop2: {
            type: String,
            value: 'VER DETALLES DEL DEPARTAMENTO',

          },
          noCargados: {
            type: Boolean,
            value: true
          },
          conRenta: {
            type: Boolean,
            value: true
          },
          colapsar: {
            type: Boolean,
            value: true
          },
    toggle: function() {
      this.$.collapse.toggle();
    }
                };
      }
      toggleCollapse(item){
        console.log(item);
        this.set('movimientos.'+  item.model.index + '.opened', true);
        this.$['collpase_' + item.model.index].toogle();
      }

      _getIdCollapse(index){
        return  index;
      }

      _consulta (){
          this.$.obtenerEdificios.generateRequest();
      }
      computeFilter (item){
console.log(item.precio)
if(item.precio == undefined){
return null
}else{

  return true
}




      }



      abrircolapsar () {
        console.log(" Entro a funcion")
     if(this.colapsar){
       this.colapsar = false
       this.prop2 = "CERRAR DETALLE DEL DEPARTAMENTO"
     }else{
       this.colapsar = true
        this.prop2 = "VER DETALLES DEL DEPARTAMENTO"

     }
      }

      mostrarRenta (){
        console.log("Renta   " + value)
          if (item.rent == undefined) return false;
          else return true;
      }




      mostrarMovimientos(data) {

        this.movimientos = data.detail.response
        console.log(this.movimientos)
        this.noCargados = false
      }
    }


    window.customElements.define(Tarea1App.is, Tarea1App);
  </script>
</dom-module>
